@{
    ViewData["Title"] = "Adventure API";
}
<div class="row">
    
    <div class="col-md-4">
        <h3>APIs</h3>
        Shows both Controller and Endpoint APIs.
        <ul>
            <li>
                <a href="/swagger">API Documentation (Swagger)</a>
            </li>
        </ul>
       
        
    </div>
   
</div>